<% layout('./layouts/boilerplate') -%>

<h1>Sign up for email updates: </h1>
<form method='POST' action='/users/verify'>
    <div>
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="email" required>
    </div>               
    <input type="submit">
</form>

<div class="container">
<% screenings.forEach((screening, i) => { %>
  <% if((i > 0) && (screening.name == screenings[i - 1].name)) { %> 
    <% if(screening.title) { %>
      <div class="card" style="width: 19rem;">
        <div class="card-body">
          <h6 class="card-title">
            <%= screening.title %>
            <hr>
          </h6>  
        <% screening.showtime.forEach(time => { %>
          <p class="card-text">
            <%= time %>
          </p>
        <% }) %> 
        <% if(screening.link) { %> 
          <a class="btn btn-primary" style="position: absolute; bottom: 0;" href="<%= screening.link %>">Buy tickets</a>
        <% } %> 
        </div>
      </div>
    <% } else { %>
      <div class="card" style="width: 19rem;">
        <div class="card-body">
          <p class="card-text">
            No screenings at this location today
          </p>
        </div>
      </div>
    <% } %>
    <hr>  
    <br>  
  <% } else { %>
    <a href="<%= screening.url %>" class="btn btn-light"><h2><%= screening.name %></h2></a> 
    <% if(screening.title) { %>
      <div class="card" style="width: 19rem;">
        <div class="card-body">
          <h6 class="card-title">
            <%= screening.title %>
            <hr>
          </h6>  
        <% screening.showtime.forEach(time => { %>
          <p class="card-text">
            <%= time %>
          </p>
        <% }) %> 
        <% if(screening.link) { %> 
          <a class="btn btn-primary" style="position: absolute; bottom: 0;" href="<%= screening.link %>">Buy tickets</a>
        <% } %> 
        </div>
      </div>
    <% } else { %>
      <div class="card" style="width: 19rem;">
        <div class="card-body">
          <p class="card-text">
            No screenings at this location today
          </p>
        </div>
      </div>
    <% } %>
    <hr>  
    <br>
  <% } %>  
<% }) %> 
</div>
